%commonPart {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

%commonPartInput {
    padding: 10px;
    margin-bottom: 10px;
}

.formContent {
    @extend %commonPart;
    input {
        @extend %commonPartInput;
        width: 80%;
    }

    label {
        @extend %commonPart;
        span{
            margin-bottom: 10px;
            font-size: 25px;
        }
        
        input {
            @extend %commonPartInput;
            width: 100%;
        }
    }
}
